header {
    background-color: #dcdcdc;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 9px 199px ;
}

.logo{
    text-decoration: none;
    color: blue;
    font-weight: 690;
    font-size: 30px;
    padding-right: 100px;
}

.navi a{
    color: blue;
    font-weight: 510;
    font-size: 21px;
    text-decoration: none;
    padding: 15px;
    padding-top: 18px;
    padding-bottom: 15px;
}

.logopic img{
    position: absolute;
    top: -9px;
    left: 0px;
    width: 130px;
    height: 62px;
}
.description{
    text-align: center;
    padding: 4.73cm;
    background: rgb(181, 207, 255);
}
.name{
    font-size: 50px;
    text-decoration: underline;
}
.descripe{
    font-size: 40px;
}
.homelogo77{
    position: absolute;
    top: 65px;left: 0px;
    width: 150px;
    height: 656px;
}
.homelogo{
    position: absolute;
    bottom: 10px;left: 400px;
    width: 800px;
    height: 140px;
}
.contain{
    margin: 50px;
    overflow: auto;
}
.brand{
    margin: 8px;
    margin-left: 30px;
    float: left;
    width: 290px;
    text-decoration: none;
    font-weight: 649;
}
.brand img {
    width: 100%;
    height: auto;
}
.text{
    padding: 15px;
    text-align: center;
    font-size: 30px;
    color: black;
    text-decoration: none;
}
.carhead{
    text-align: center;
    padding-bottom: 0.9cm;
    font-size: 50px;
    text-decoration: underline;
}
.containing{
    margin: 25px;
    overflow: auto;
    max-width: 1000px;
    float: left;
    margin-left: 260px;
    cursor: pointer;
}
.myform{
    text-align: center;
    padding: 4.5cm;
    font-size: 19px;
    background: rgb(181, 207, 255);
}
.myformname{
    font-size: 50px;
    padding: 1px;
    text-decoration: underline;
}
.contact{
    text-align: left;
    padding: 1cm;
    padding-top: 2cm;
    padding-bottom: 20px;
    font-size: 23px;
    background: rgb(181, 207, 255);
}
.contacthead{
    position: absolute;
    top: 30px;left: 40px;
    font-size: 70px;
    text-decoration: underline;
}
body {
    margin: 0;  
}
*, ::after, ::before {
    box-sizing: border-box;
}
